.smu-header {
    text-align: left;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    color: #eeeeee;
    background-color: #ffffff;
    z-index:15;
}
.smu-logo {
    height:20px;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 13px;
}